In [1]:
# Day8 Batch 34

In [2]:
# Introduction to Slicing of Lists:

In [3]:
students= ['naveen','alam','ravi','kumar','iqra','swapna','sandeep','alok']

In [4]:
print(students)

['naveen', 'alam', 'ravi', 'kumar', 'iqra', 'swapna', 'sandeep', 'alok']

In [5]:
# General Syntax of Slicing

In [7]:
#var[startvalue:stepvale:stepcount]

In [ ]:
Note1: Always the stpe value is exlusiva and it will not present in the slice
Note2: Entire Slicing concepts work onth principle of Indexing

In [8]:
# Req : To include Naveen and alam in  a single slice

In [9]:
print(students[0:1])

['naveen']

In [11]:
#Note3: Increment the index number by one always

In [13]:
print(students[0:2])

['naveen', 'alam']

In [15]:
print(students[2:4])

['ravi', 'kumar']

In [16]:
print(students[4:6])

['iqra', 'swapna']

In [17]:
print(students[6:8])

['sandeep', 'alok']

In [19]:
print(students[0:8:2])

['naveen', 'ravi', 'iqra', 'sandeep']

In [20]:
# Negative indexing

In [21]:
# -1,-2,-3 .....!

In [22]:
# Req: I want to print alok name in he output

In [24]:
print(students[7])

alok

In [25]:
print(students[-1])

alok

In [26]:
print(students[-2])

sandeep

In [27]:
# Can you print the aboe in a reverse order

In [28]:
students.reverse() # The changes will be aplied permantentely

In [29]:
print(students.reverse())

None

In [31]:
students.reverse()

In [33]:
print(students)

['alok', 'sandeep', 'swapna', 'iqra', 'kumar', 'ravi', 'alam', 'naveen']

In [34]:
# Print the list in the reverse by using the concept of slicing

In [35]:
cars= ('audi','benz','bmw','bugate','toyata','suzki')

In [36]:
print(cars)

('audi', 'benz', 'bmw', 'bugate', 'toyata', 'suzki')

In [37]:
print(cars[::-1]) # Reverse order

('suzki', 'toyata', 'bugate', 'bmw', 'benz', 'audi')

In [38]:
print(cars[::1]) # Orginal order

('audi', 'benz', 'bmw', 'bugate', 'toyata', 'suzki')